#simulation-info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    z-index: 100;
}

#simulation-controls {
    margin-top: 10px;
}

#simulation-controls input[type="range"] {
    width: 200px;
}

#simulation-controls label {
    margin-right: 10px;
}
.canvas-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

body {
    background-color: grey;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    background-color: black;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#planet-buttons {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    bottom: 1%;
}

.planet-button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.118);
    color: #ffffff;
    padding: 10px 15px;
    margin-right: 0px;
    margin-left: 1px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: background-color 1s;
}

.planet-button:hover {
    background-color: #ffffffae;
}
